.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.header-left {
  flex: 1;
}
.header-center {
  flex: 1;
}
.header-center .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-center .menu li a {
  font-size: 18px;
  font-weight: 500;
}
.header-right {
  flex: 1;
}
.header-right .icons {
  display: flex;
  justify-content: end;
  align-items: center;
}
.header-right .icons li {
  margin-left: 50px;
}
.header-right .icons img {
  width: 22px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 10px 0;
  border-bottom: 1px solid black;
}
.footer-col {
  flex: 1;
  margin: 0 auto;
}
.footer-col .footer-logo {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 10px;
}
.footer-col .footer-heading, .footer-col .footer-address {
  color: #9F9F9F;
  margin-bottom: 10px;
}
.footer-col ul li {
  font-weight: 600;
  margin-bottom: 15px;
}
.footer-col form input, .footer-col form button {
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  background: none;
  padding: 5px 3px;
}
.footer-col form button {
  font-weight: 500;
}

.footer-bottom {
  padding: 20px 0;
}

* {
  padding: 0;
  margin: 0;
  color: #000;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

ol,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.banner {
  position: relative;
}
.banner-img img {
  width: 100%;
  height: 400px;
  object-fit: fill;
}
.banner-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}
.banner-title b {
  font-size: 32px;
  margin-bottom: 20px;
}
.banner-title p {
  font-size: 16px;
  font-weight: 500;
}

.tools-bar {
  background-color: #F9F1E7;
  padding: 30px 0;
}

.tools-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tools-items .tools {
  display: flex;
  align-items: center;
}
.tools-items .tools-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tools-items .tools-left {
  display: flex;
  align-items: center;
  gap: 10px;
}
.tools-items .tools-left .filter {
  display: flex;
  align-items: center;
  font-weight: 500;
  gap: 10px;
  margin-right: 15px;
}
.tools-items .tools-left .list_display {
  align-self: center;
}
.tools-items .tools .spacing {
  border: 1px solid black;
  height: 25px;
  margin: 0 20px 0 20px;
}
.tools-items .tools-right span {
  font-weight: 500;
}
.tools-items .tools form {
  display: flex;
  align-items: center;
  gap: 10px;
}
.tools-items .tools form input {
  max-width: 50px;
  padding: 7px 0;
  text-align: center;
}
.tools-items .tools form p {
  font-weight: 500;
}
.tools-items .tools form .select {
  padding: 7px 25px;
  text-align: center;
}

.items {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
  grid-gap: 15px;
}

.card {
  position: relative;
  overflow: hidden;
}
.card-img {
  width: 100%;
  display: block;
  margin: auto;
}
.card-info {
  background-color: #F4F5F7;
  padding: 10px;
}
.card-info .info-name {
  font-size: 20px;
  font-weight: 700;
}
.card-info .info-category {
  color: #898989;
}
.card-info .info-price {
  font-size: 20px;
  font-weight: 700;
}
.card-action {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  transition: 0.5s ease-in-out;
}
.card-action-img {
  width: 100%;
  height: auto;
  position: relative;
}
.card-action-img .discount pos .discount-value {
  width: 20px;
  border: 1px solid black;
}
.card-action .group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.card-action .group .btn-act {
  flex: 1;
}
.card-action .group .btn-act button {
  max-width: 200px;
  min-width: 200px;
  padding: 10px;
  background-color: #FFFFFF;
  color: #B88E2F;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.card-action .group .btn-act button:hover {
  background-color: #B88E2F;
  color: black;
  transition: 0.2s ease-in-out;
}
.card-action .group .sub-act {
  flex: 1;
  margin: 5px 0;
}
.card-action .group .sub-act button {
  max-width: 200px;
  min-width: 200px;
  padding: 10px;
  background-color: #FFFFFF;
  color: #B88E2F;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.card-action .group .sub-act button:hover {
  background-color: #B88E2F;
  color: black;
  transition: 0.2s ease-in-out;
}

.card:hover .card-action {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

.pages {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
  gap: 15px;
}
.pages button {
  padding: 10px 15px;
  background-color: #F9F1E7;
  border: none;
  border-radius: 5px;
  font-weight: 500;
}
.pages button:hover {
  background-color: #B88E2F;
  color: white;
}

.services {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #FAF3EA;
  padding: 50px;
}
.services .service {
  display: flex;
  align-items: center;
}
.services .service-info {
  margin-left: 5px;
}
.services .service-img img {
  width: 40px;
}
.services .service-name {
  font-weight: 600;
  font-size: 18px;
}
.services .service-subname {
  color: #898989;
}

/*# sourceMappingURL=store-page.css.map */
